<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="antiques">
      <ion-icon name="leaf"></ion-icon>
      <ion-label>Listing</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chats">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Chats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="/home">
      <ion-icon name="menu"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
