<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{antique.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img [src] = "antique.imageUrl">
 <div class="ion-padding">
   <ion-text>
     <h1>{{antique.name}}</h1>
     <h3>Price: ₱ {{antique.price}}</h3>
     <p class="ion-margin-vertical">Description: {{antique.description}}</p>
     <h5>Seller: </h5>
   </ion-text>
</div>
   <ion-button expand="block" (click)="openEditModal()">Edit</ion-button>
   <ion-button expand="block" fill="outline" color="primary" (click)="onDeleteAntique()">Delete</ion-button>
</ion-content>