<ion-header>

</ion-header>

<ion-content class="ion-padding ion-text-center">
    <img src="../../assets/GreenWorks.png" class="logo" />

    <div class="ion-margin-top">
        <ion-button expand="block" class="ion-margin-top" (click)="login()" color="primary">LOG IN</ion-button>
        <ion-button expand="block" class="ion-margin-top" (click)="register()" fill="outline" color="primary">SIGN UP</ion-button>
    </div>
</ion-content>
<ion-card class="ion-no-margin">
    <ion-img src="../../assets/Footer.png" class="footer"></ion-img>
</ion-card>
